html{
    background-color: white;
}

footer {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #CDCDCD;
    border-top: solid;
    border-color: #B82233;
}

.row  {
  border-bottom: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.card{
    margin-bottom: 10px;
}

.col-sm{
    text-align: left;
}

legend{
    padding-top: 10px;
    text-decoration: underline #B82233;
}

form{
    border-bottom: 5px solid #ddd;
}

.form-check-inline{
    padding-bottom: 10px;
}

.custom-file{
    margin-bottom: 10px;
}

h2{
    padding-bottom: 10px;
}

.navbar-nav{
    text-align: center;
    
}

li{
    border-bottom: 1px solid #B82233;

}

#accordian{
    padding-bottom: 10px;
}

li.active{
    border-bottom: 5px solid #B82233;
    background-color: #ddd;
}

#footerLeft{ 
    text-align: left;
}

#footerRight{
    text-align: right;
}

.footerContent{
    width: 65%;
    text-align: center;
    margin: auto;

}

#top {
    background-color: blue;
}

#bottom {
    background-color: red;
}

body {

}

#welcome {

}

#signout {
    float: right;
}

#headerSection{
    background-color: #CDCDCD;
    margin-bottom: 50px;
    border-bottom: solid;
    border-color: #B82233; 
}

#headerTop {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 65%;  
}

#pageTitle {
    margin-top: 10px;
    margin-bottom: 20px;
}

#logo {
    float: right;
}

#nav1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

h2 {

}

#button1 {
    background-color: #B82233;
    border: 1px solid #B82233;
}

.card-title {
    color: #B82233;
}

b,
strong {
    color: #B82233;
}

.card-body {
    padding: 20px;
}

.button {
    background: #ccc;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #aaa;
    border-bottom: 2px solid #aaa;
}

.cookie-banner {
    background: #333;
    position: fixed;
    top: 0.1%;
    left: 0;
    width: 100%;
}

.cookie-banner .container1 {
    margin: 0 auto;
    width: 50%;
    color: #f0f0f0;
    padding: 8px;
}

#cookies {
    width: 100%;
    margin: 0;
    padding: 0.5em 10%;
    background: rgba(86, 86, 86, 0.95);
    border-bottom: solid 1px rgb(225, 225, 225);
}

#cookies p {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
    text-align: center;
    color: rgb(255, 255, 250);
    margin: 4px;
    z-index: 999;
}

#cookies .cookie-accept {
    padding-left: 10px;
    cursor: pointer;
    display: inline;
    color: rgb(255, 255, 250);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
}